.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.button1 {
    background-color: #4CAF50;
    /* Green */
}

.button1:hover {
    background-color: #358b37;
}

.button2 {
    background-color: #008CBA;
    /* Blue */
}

.button2:hover {
    background-color: #1b6c86;
    /* Blue */
}

.button3 {
    background-color: coral;
    /* Coral */
}

.button3:hover {
    background-color: rgb(207, 85, 40);
    /* Coral */
}

.button4 {
    background-color: rgb(221, 2, 2);
    border-radius: 2cm;
}

.button4:hover {
    background-color: rgb(230, 134, 134);
    border-radius: 2cm;
}

.mydiv {
    width: 640px;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
}

.mydiv1 {
    border: 5px solid #4CAF50;
}

.mydiv2 {
    border: 5px solid #008CBA;
}

.mydiv3 {
    border: 5px solid coral;
}

.classBlock {
    width: 80px;
    height: 150px;
    text-align: center;
    line-height:150px;
    float: left;
}

.classABlock {
    background-color: #64b166;
}

.classBBlock {
    background-color: #3ba1c4;
}

.classCBlock {
    background-color: rgb(253, 147, 108);
}

.canvas {
    width: 160px;
    height: 120px;
}